/* FOOTER */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.footer {
    background-color: #FFCC70; /* Latar belakang hitam */
    color: #000000; /* Teks putih */
    text-align: center; /* Teks diatur di tengah */
    padding: 20px 0; /* Ruang atas dan bawah */
    
  }
  
  .footer img {
    max-width: 9%;
    height: auto;
    margin-top: 20px;
    margin-right: 0px;
    border-radius: 40px;
  }
  
  /* Media Query untuk mengatur ukuran teks pada tampilan mobile */
  @media (max-width: 768px) {
    .footer {
      font-size: 14px; /* Atur ukuran teks untuk tampilan mobile */
    }
  }
  
  /*Tambah Dari Atas sini*/
  
  
  /* Scrollbar */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #B2A17B #DFE9EB;
  }
  
  /* Chrome, Edge and Safari */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #6D756A #DFE9EB;
  }
  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    height: 10px;
    width: 5px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #6D756A;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #A3A3A3;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #6D756A;
  }
  