@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


/* Kontainer Profil */
  
.profile {
    background-color: #FFFADD;
    padding: 30px;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    border-bottom-left-radius: 100% 30px; /* Lengkungan kiri bawah */
    border-bottom-right-radius: 100% 20px; /* Lengkungan kanan bawah */
  }
  
  .profile img {
    max-width: 40%;
    height: auto;
    margin-right: 20px;
    border-radius: 40px; /* Menentukan besarnya lengkungan */
  }
  
  .profile-text {
    flex: 1;
  }

  .profile-text h5 {
    margin: 0 0 10px;
    text-align: left; 
  }  
  
  .profile-text h2 {
    margin: 0 0 10px;
    text-align: left; 
  }  
  
  .profile-text p {
    margin: 0;
    text-align: justify;
    margin-bottom: 7px;
  }

    /* Media Query untuk tata letak mobile Foto Profil */
    @media (max-width: 38em) {
      .profile {
        flex-direction: column; /* Mengubah arah tata letak menjadi kolom dengan gambar di atas */
        text-align: center; /* Mengatur teks ke tengah */
      }
    
      .profile img {
        max-width: 80%; /* Mengurangi lebar gambar agar sesuai dengan lebar layar */
        margin-right: 0;
        margin-bottom: 20px; /* Memberi jarak antara gambar dan teks di atasnya */
      }

      .profile-text p {
        margin-right: 0; /* Menghapus margin kanan pada tampilan mobile */
        margin-bottom: 10px; /* Menambah jarak antar paragraf pada tampilan mobile */
        text-align: justify; /* Memjustifikasi teks agar terlihat rapi */
        text-align: left; /* Membuat tulisan menjadi rata kiri */
    }
  }